body {
    background-color: rgb(123, 163, 255) !important;
}

.logo {
    display: flex;
    align-items: center;
}

#brand-name {
    font-size: 32px;
    margin-left: 8px;
}

.search {
    margin-right: 16px;
    margin-bottom: 8px;
}

.main {
    min-height: 100vh;
}

.side-nav {
    background-color: rgb(255, 242, 120);
    padding: 16px;
}

.product-view {
    background-color: white;
    flex: 3;
    padding: 16px;
}

footer {
    height: 64px;
}
