<div class="d-flex h-100 justify-content-center align-items-center" *ngIf="isLoading">
    <div class="spinner-border text-danger" role="status"></div>
</div>

<div *ngIf="!isLoading">
    <div class="d-flex align-items-start">
        <img class="rounded-circle" src="https://placehold.co/128x128" />
        <div class="ms-3">
            <h2>{{ user.firstName }} {{ user.lastName }} ({{ user.nickName }})</h2>
            <div class="d-flex align-items-center">
                <i-bs name="phone-fill" class="d-flex align-items-center"></i-bs>
                <div class="ms-1">{{ user.phone }}</div>
            </div>
            <div class="d-flex align-items-center">
                <i-bs name="envelope-fill" class="d-flex align-items-center"></i-bs>
                <div class="ms-1">{{ user.email }}</div>
            </div>
            <div class="d-flex align-items-center">
                <i-bs name="gift-fill" class="d-flex align-items-center"></i-bs>
                <div class="ms-1">{{ user.birthDate | date }}</div>
            </div>
        </div>
    </div>

    <button class="btn btn-outline-success my-3" routerLink="/article/add">Add New Article</button>

    <div class="rounded-3 shadow px-3 py-2 mb-3 Mh-105px overflow-hidden position-relative"
        *ngFor="let article of user.articles">
        <h2 class="mb-0 pointer d-inline-block" routerLink="/article/{{article.id}}">{{article.title}}</h2>
        <div class="my-2 text-justify pointer" routerLink="/article/{{article.id}}">
            {{article.content}}
        </div>
        <div class="position-absolute pointer" routerLink="/article/{{article.id}}"
            [style]="'background-image: linear-gradient(transparent, '
                + (service.isDarkMode ? 'rgb(25, 29, 33)' : 'white') + ')'"></div>
    </div>
</div>